<%= form_for(nearest) do |f| %>
  <% if nearest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nearest.errors.count, "error") %> prohibited this nearest from being saved:</h2>

      <ul>
      <% nearest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :route_name %>
    <%= f.text_field :route_name %>
  </div>

  <div class="field">
    <%= f.label :station %>
    <%= f.text_field :station %>
  </div>

  <div class="field">
    <%= f.label :time %>
    <%= f.number_field :time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
